.dialog-box{
    -fx-background-color: linear-gradient(to right, transparent,rgba(1,1,1,0.8) 15%,rgba(1,1,1,0.8) 85%,transparent);
    -fx-font-size: 18px; 
}
.dialog-speaker{
    -fx-font-size: 20px;
    -fx-font-weight: bold;

    -fx-background-color:black;
    -fx-border-color: white;
    -fx-border-radius: 4px;
}
.court-record{
    -fx-background-color: rgb(0, 13, 63);
}
.court-record-label{
    -fx-background-color: rgb(0, 16, 82);
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}